In [6]:
a=10
b=20
sum=a+b
diff=a-b
div=a/b
print(f"sum is {sum}")
print(f"diff is {diff}")
print(f"div is {div}")

sum is 30
diff is -10
div is 0.5

In [7]:
a=input("type the first num")
b=input("type the last num")
num1=int(a)
num2=int(b)
if (num1>num2):
    print("a is great")
else:
    print("B is great")

type the first name10
type the last name20
B is great

In [8]:
#list examples
myList=[2,2,1,4,5,]
print(myList)

[2, 2, 1, 4, 5]

In [9]:
#tuples wxamples 
tp=(3,1,5,3)
print(tp)

(3, 1, 5, 3)

In [10]:
a=30
b=90
if a>b:
    print("a is great")
else:
    print("b is great")

b is great

In [11]:
for i in range(2,5):
    print(i)

2
3
4

In [ ]:
i=0
while i<=5:
    print("rai")
    i=i+1

In [ ]:
9+2

In [1]:
3/3

1.0

In [13]:
def my_func(name='default name'):
            print('hello '+name)

In [14]:
my_func()

hello default name

In [27]:
def square(num):
    return num**2

In [30]:
ouput = square(2)

NameError: name 'output' is not defined

In [32]:
def num(var):
    return var*3

In [33]:
num(2)

6

In [34]:
def num1(mynum):
    return mynum**2

In [36]:
num1(3)

9

In [37]:
def num2(var):
    return 3+2

In [38]:
num2(2)

5

In [39]:
s='pramod'

In [40]:
s.upper()

'PRAMOD'

In [1]:
num_list = [3,2,3]

In [2]:
import numpy as np

In [3]:
arr = np.array(num_list)

In [4]:
arr

array([3, 2, 3])

In [6]:
import numpy as np

In [10]:
2+3

5

In [16]:
import numpy as np
import pandas as pd

In [17]:
from numpy.random import randn

In [18]:
np.random.seed(101)

In [19]:
df = pd.DataFrame(randn(5,5),['A', 'B', 'C', 'D', 'E'],['P','Q','R','S','T'])

In [21]:
df

          P         Q         R         S         T
A  2.706850  0.628133  0.907969  0.503826  0.651118
B -0.319318 -0.848077  0.605965 -2.018168  0.740122
C  0.528813 -0.589001  0.188695 -0.758872 -0.933237
D  0.955057  0.190794  1.978757  2.605967  0.683509
E  0.302665  1.693723 -1.706086 -1.159119 -0.134841